page-about {

}

ion-title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 90px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.delete-list{
  float: right;
  height: 30px;
  width: 70px;
  background-color: deepskyblue;
}

.no-items{
  color: lightgray;
  text-align: center;
}