page-home {
text-align: center;
  font-size: 20px;
}

.fill-in-blank {
  width:100%;
  border-bottom: 1px solid black;
  outline: none;
  border-top: 0;
  border-right: 0;
  border-left:0
}

.above-button{
  margin-top: 20px;
}